<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Playing Video...</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src='{% get_static_prefix %}js/kit-fontawesome.js' crossorigin='anonymous'></script>
        <link href="{% get_static_prefix %}css/material-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% get_static_prefix %}css/play-video.css">
        <style>
            .brand-logo img:hover {
                cursor: pointer;
            }
            #user-options > div{
                padding: 10px;
            }
            #user-options {
                position:absolute;
                width: 150px;
                background-color: #f1f1f1;
                top: 0;
                right: 15%;
                z-index: 2;
                animation-name: user-options-animation;
                animation-duration: 0.3s;
            }
            @keyframes user-options-animation {
                from { top: -100px;}
                to { top: 0;}
            }
            .like, .dislike, .share, .save {
                color: black;
            }
            .like:hover, .dislike:hover, .share:hover, .save:hover {
                color: black;
                text-decoration: none;
            }
            #share-tooltip {
                background-color: black;
                color: white;
                z-index: 1;
                top: -10px;
                border-radius: 5px;
                padding: 0px 5px;
                display: none;
            }
            #create-playlist-btn span:hover {
                cursor: pointer;
            }
        </style>
    </head>
    <body id="{{user}}">
        <div class="container">
            {% include 'header.html' %}
            <hr>
            <div class="row">
                <div class="col-md-8 sub-grid-container">
                    <div id="{{video_to_watch.id}}" class="video-to-watch">
                        <video style="width:100%;height:auto;" controls autoplay>
                            <source src="{{video_to_watch.file.url}}">
                        </video><br>
                        <b>{{video_to_watch.name}}</b><br>
                        <div class="video-options-grid-container">
                            <div><small>{{video_to_watch.uploaded_date}}</small></div>
                            <div onclick = "like('{{user}}','{{video_to_watch.id}}')" class="like btn btn-link btn-lg">
                                {%if is_like_existed%}
                                    <span class="fa fa-thumbs-up" style="font-size:24px"></span>
                                {%else%}
                                    <span class="fa fa-thumbs-o-up" style="font-size:24px"></span>
                                {%endif%}
                                 Like
                            </div>
                            <div onclick = "dislike('{{user}}','{{video_to_watch.id}}')" class="dislike btn btn-link btn-lg">
                                {% if is_dislike_existed%}
                                    <span class="fa fa-thumbs-down" style="font-size:24px"></span>
                                {%else%}
                                    <span class="fa fa-thumbs-o-down" style="font-size:24px"></span>
                                {%endif%}
                                 Dislike
                            </div>
                            <div style="position:relative;" onclick="generateUrl(event)" class="share btn btn-link btn-lg">
                                <div style="position:absolute;" id="share-tooltip">
                                    <small>Copied to Clipboard</small>
                                </div>
                                <span class="glyphicon glyphicon-share-alt"></span> Share
                            </div>
                            <div onclick = "saveVideo(event,'{{user}}','{{video_to_watch.id}}')" data-toggle="modal" data-target="#myModal"  style="position:relative;" class="save btn btn-link btn-lg">
                                <span class="material-icons">playlist_add</span>&nbsp;
                                <span style="position:absolute;top: 10px;">Save</span>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="video-info-grid-container">
                        <div class="video-author-info-grid-container">
                            <div class="video-author-profile">
                                {%if video_to_watch.user.profile %}
                                    <img src="{{video_to_watch.user.profile.url}}" alt="Profile Photo" class="img-circle" width="50" height="50">
                                {%else%}
                                    <i class="fa fa-user-circle-o" style="font-size:36px"></i>
                                {%endif%}
                            </div>
                            <div class="video-author-info">
                                <strong>{{video_to_watch.user.channel_name}}</strong>
                                <br>
                                <small>1.23M subscribers</small>
                            </div>
                        </div>
                        <div class="video-description-grid-container">
                            <div></div>
                            <div class="video-description">
                                {{video_to_watch.description}}
                            </div>
                        </div>
                        <div><hr></div>
                    </div>
                    <div class="comments">
                        <h1>Comments</h1>
                    </div>
                </div>
                <div class="col-md-4 remaining-videos-grid-container">
                    {% for video in remaining_videos %}
                        <div class="remaining-video-grid-container" id="{{video.id}}">
                            <video style="width:100%;height:auto;" >
                                <source src="{{video.file.url}}">
                            </video>
                            <div class="remaining-video-description">
                                <b>{{video.name}}</b><br>
                                <small>{{video.user.channel_name}}</small><br>
                                <small>{{video.uploaded_date}}</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Save to... </h4>
                    </div>
                    <div class="modal-body" style="font-size: 16px;">
                        
                    </div>
                    <div style="text-align:left;" class="modal-footer">
                        <div onclick="showPlayListForm()" id="create-playlist-btn" style="position: relative;">
                            <span class="material-icons">add</span>
                            <span style="position:absolute;top: 0px;">Create new playlist</span>
                        </div>
                        <div style="display: none;" class="playlist-form">
                            <input type="text" placeholder="PlayList Name ..." class="form-control">
                            <br>
                            <div onclick="addPlayList()" class="btn btn-primary">Create</div>
                            <div id="playlist-error" style="color: red;display: none;">PlayList Already existed</div>
                        </div>
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                    </div>
                </div>
            </div>
        </div>
        {% include 'change-profile.html' %}
        <script>
            document.querySelector('.sign-in > button').addEventListener("click",function(){
                window.location = "/youtubeApp/signin/"
            });
        </script>
        <script src="{%get_static_prefix%}/js/play-video.js"></script>
        <script src="{%get_static_prefix%}/js/change-profile.js"></script>
    </body>
</html>
<!-- onclick = "saveVideo('{{user}}','{{video_to_watch.id}}')" -->