<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>SignIn Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            input[type=submit] {
                background-color: green;
                color: white;
                font-weight: bold;
            }
            .jumbotron {
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>SignIn Form</h1>
                <div class="form-group">
                    <form method="post" action="">
                        {{form.as_p}}
                        {%csrf_token%}
                        <input type="submit" class="form-control" value="signIn">
                    </form>
                    <br>
                    <a href="/youtubeApp/signup/">Don't you have Account?</a>
                    <br>
                    <div style="color: red;text-align: center;">
                        {{error_message}}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>