<!DOCTYPE html>
<html>
    <head>
        <title>Video Upload Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            input[type=submit] {
                background-color: green;
                color: white;
                font-weight: bold;
            }
            .jumbotron {
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Upload Your Video Here...</h1>
                <div class="form-group">
                    <form action="" method="post" enctype="multipart/form-data">
                        {{form.as_p}}
                        {%csrf_token%}
                        <input type="submit" class="form-control" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>