* {
    box-sizing: border-box;
  }

/*                 Header              */

header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
}
.brand-logo img{
    width: 100px;
    height: 60px;
}


.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
}
  
  
.search button {
    float: left;
    width: 15%;
    padding: 10px;
    background: #f1f1f1;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.search, .sign-in, .profile-section {
    padding-top: 10px;
}
  
/* Clear floats */
    .search::after {
    content: "";
    clear: both;
    display: table;
}

.sign-in button{
    width: 100px;
    height: 80%;
    border: 1px solid blue;
    background-color: transparent;
    color: blue;
    font-size: 15px;
}
.sign-in {
    text-align: right;
}
.sign-in button:hover, #profile , .upload-video span{
    cursor: pointer;
}

.upload-video {
    margin-right: 20px;
}

/*             Content               */

.main-grid-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 20px;
}
.sub-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}
.remaining-videos-grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}
.remaining-video-grid-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 5px;
}
.video-info-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}
.video-author-info-grid-container,
.video-description-grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.video-options-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
}
